.container {
  border: 1px solid #000;
  background-color: #fff;
  font-size: 1.4rem;
  padding: 5px;
  list-style-type: none;
  border-radius: 6px;
  max-width: 100%;
}

.container:hover {
  cursor: pointer;
  color: #4514cc;
}
